:root {
    --white-color: #ffffff;
    --white-color-sorta-transparent: rgba(255, 255, 255, 0.2);
    --white-color-somewhat-transparent: rgba(255, 255, 255, 0.3);
    --white-color-transparent: rgba(255, 255, 255, 0.1);
    --white-color-more-transparent: rgba(255, 255, 255, 0.05);

    --shadow-color: rgba(0, 0, 0, 0.35);
    --shadow-color-dark: rgba(0, 0, 0, 0.5);
    --shadow-color-lightish: rgba(0, 0, 0, 0.25);
    --shadow-color-light: rgba(0, 0, 0, 0.15);

    --light-color: #e0e0e0;
    --dark-color: #313131;
    --regular-color: #3a3a3a;
    --medium-color: #717171;

    --theme-color: #34aa2f;
    --theme-color-transparent: rgba(52, 170, 47, 0.75);
    --dark-theme-color: #298825;

    --link-color: #41a8ff;

    --error-color: #ffdce0;
    --dark-error-color: #86181d;

    --white-background-color-transparent: rgba(255, 255, 255, 0.035);
}
