@import 'components/create-trade-modal.css?v=2';
@import 'components/tabs.css?v=2';

/* notifier */
.notifier {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.75rem;
    font-size: 1.15rem;
    line-height: 1.35;
    z-index: 9999999;
    background-color: var(--theme-color-transparent);
    border-radius: 4px;
    box-shadow: 0 0.1rem 0.4rem var(--shadow-color);
}
.notifier:not(.active) {
    display: none;
}

/* nav scrolling */
.nav {
    transition: border-bottom-left-radius 0.25s, border-bottom-right-radius 0.25s, background-color 0.25s, color 0.25s, box-shadow 0.25s,
        border-bottom-color 0.25s;
}
.nav.scrolling {
    background-color: var(--dark-color);
    /*color: var(--dark-color);*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0.1rem 0.4rem var(--shadow-color);
    border-bottom-color: var(--dark-color);
}

.nav .right {
    float: right;
    min-height: 3.5rem;
    font-size: 0;
    text-align: right;
}
.nav .right .button {
    display: inline-block;
    height: 2.5rem;
    margin: 0.5rem 0;
    width: auto;
}
.nav .right .button {
    margin-right: 1rem;
}

.modal-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--shadow-color-dark);
    z-index: 9998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.35s;
}
.modal-container:not(.active) {
    display: none;
}

/* app */
.app {
    margin: 3.5rem 0;
}

/* tab functionality */
.app.active-trades > .tabs > .tab.active-trades,
.app.completed-trades > .tabs > .tab.completed-trades,
.app.your-trades > .tabs > .tab.your-trades,
.app.notifications > .tabs > .tab.notifications,
.app.log > .tabs > .tab.log {
    display: block;
}

.app.active-trades > .tabselect > .tabbtn.active-trades,
.app.completed-trades > .tabselect > .tabbtn.completed-trades,
.app.your-trades > .tabselect > .tabbtn.your-trades,
.app.notifications > .tabselect > .tabbtn.notifications,
.app.log > .tabselect > .tabbtn.log {
    border-color: var(--white-color);
}

/* tabselect */
.app > .tabselect {
    opacity: 0.85;
    margin-bottom: 1.5rem;
}

/* tabs */
.app > .tabs > .tab .title {
    font-size: 1.75rem;
    line-height: 1.35;
    margin-bottom: 0.75rem;
}

/* log tab */
.app > .tabs > .tab.entrylist-tab .entry {
    padding: 1.25rem 0;
    border-top: 2px solid var(--white-color-transparent);
    overflow: hidden;
}
.app > .tabs > .tab.entrylist-tab .entry:last-child {
    border-bottom: 2px solid var(--white-color-transparent);
}

.app > .tabs > .tab.entrylist-tab .entry > * {
    display: block;
    float: left;
}
.app > .tabs > .tab.entrylist-tab .entry .text {
    font-size: 1.1rem;
    width: calc(100% - 15rem);
    line-height: 1.7rem;
}
.app > .tabs > .tab.entrylist-tab .entry .date {
    font-size: 1rem;
    opacity: 0.5;
    float: right;
    line-height: 1.7rem;
}

@media only screen and (max-width: 650px) {
    .app > .tabs > .tab.entrylist-tab .entry .date,
    .app > .tabs > .tab.entrylist-tab .entry .text {
        width: 100%;
    }
    .app > .tabs > .tab.entrylist-tab .entry .date {
        margin-top: 1rem;
    }
}

/* market item list */
.app > .tabs > .tab.market-item-list {
    overflow: hidden;
}

.app > .tabs > .tab.market-item-list > .title {
    margin-bottom: 1.75rem;
}

.app > .tabs > .tab.market-item-list > .row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.app > .tabs > .tab.market-item-list > .row:not(:last-child) {
    margin-bottom: 1rem;
}

.app > .tabs > .tab.market-item-list > .row > .market-item {
    display: flex;
    float: left;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0.75rem;
    border: 2px solid var(--white-color-transparent);
    border-radius: 4px;
    flex-basis: calc((100% - 2rem) / 3);

    flex-direction: column;
    justify-content: space-between;
}

.app > .tabs > .tab.market-item-list > .row > .market-item:not(:last-child) {
    margin-right: 1rem;
}

@media only screen and (max-width: 1000px) {
    .app > .tabs > .tab.market-item-list > .row {
        flex-direction: column;
    }
    .app > .tabs > .tab.market-item-list > .row > .market-item {
        flex-basis: 100%;
        padding-bottom: 1.25rem;
        overflow: hidden;
    }
    .app > .tabs > .tab.market-item-list > .row > .market-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

/* main market item top area */
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .date {
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.75;
    margin-bottom: 0.75rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .is-selling {
    margin-bottom: 0.75rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .is-selling .title,
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .for .title {
    display: block;
    min-height: 2.5rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .is-selling .title > *,
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .for .title > * {
    display: block;
    float: left;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .is-selling .title img {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0.375rem 0;
    margin-right: 0.75rem;
    overflow: hidden;
}

.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .is-selling .title .text,
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .for .title {
    width: calc(100% - 2.5rem);
    line-height: 1.75rem;
    padding: 0.375rem 0;
    font-size: 1.15rem;
    font-weight: 400;
    opacity: 0.7;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .for .title {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    line-height: 2;
    min-height: auto;
    margin-top: 0.75rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .is-selling .content,
.app > .tabs > .tab.market-item-list > .row > .market-item > .top > .for .content {
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 700;
    border: 1px solid var(--white-color-transparent);
    border-left: none;
    border-right: none;
    padding: 0.375rem 0;
}

/* offers */
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers {
    margin-top: 2.5rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .title {
    font-size: 1.65rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.85rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .none-found {
    text-align: center;
    font-style: italic;
    opacity: 0.65;
}

.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer {
    border-top: 1px solid var(--white-color-more-transparent);
    padding: 0.75rem 0;
}

.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer .date {
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.75;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer .content {
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0.5rem 0;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer .bottom {
    height: 2rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer .bottom > * {
    display: block;
    float: left;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer .bottom p.buyer {
    font-size: 0.9rem;
    opacity: 0.75;
    line-height: 2rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .offers > .offer .bottom button {
    height: 2rem;
    float: right;
    width: auto;
    font-size: 1rem;
}

/* make offer */
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer {
    margin-top: 2.5rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer > h1 {
    font-size: 1.65rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.85rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer textarea {
    color: var(--white-color);
    padding: 0.25rem 0.75rem;
    resize: none;
    border-color: var(--white-color-somewhat-transparent);
    background-color: var(--white-color-more-transparent);
    min-height: 7rem;
    margin-bottom: 0.75rem;
    overflow-y: hidden;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer textarea:focus {
    border-color: var(--theme-color);
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer textarea::placeholder {
    color: var(--white-color-somewhat-transparent);
}

.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer .error {
    width: 100%;
    min-height: 2.5rem;
    overflow: hidden;
    font-size: 1.25rem;
    line-height: calc(2.5rem - 4px);
    text-align: center;
    padding: 0 0.75rem;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 4px;
    transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s, transform 0.2s;
    color: var(--white-color);
    background: var(--error-color);
    border: 2px solid rgba(27, 31, 35, 0.15);
    color: var(--dark-error-color);
    margin-bottom: 0.75rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .make-offer .error:not(.active) {
    display: none;
}

/* winning offer */
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .winning-offer {
    margin-top: 1.5rem;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .winning-offer > h1 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 500;
}
.app > .tabs > .tab.market-item-list > .row > .market-item > .bottom > .winning-offer > p.content {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.75;
}

/* loader */
.loader-container {
    display: block;
    overflow: hidden;
    text-align: center;
}
.loader-container > .loader {
    --loader-diameter: 4rem;
    width: var(--loader-diameter);
    height: var(--loader-diameter);
    border: 0.4rem solid var(--dark-color);
    border-left-color: var(--theme-color);
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotate;
    border-radius: 50%;
    display: inline-block;
}
.app:not(.loading) > .loader-container {
    display: none;
}
.app.loading > .tabs {
    display: none;
}

@-moz-keyframes rotate {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* remove log and notifications tabs temporarily as they are not functional */
.app > .tabs > .tab.log,
.app > .tabs > .tab.notifications,
.app > .tabselect > .tabbtn.notifications,
.app > .tabselect > .tabbtn.log {
    display: none !important;
}
